$blue: #0074e9;
$white: #fff;
$vivid-white: #f4f4f4;
$light-gray: #ccc;
$medium-gray: #aaa9a9;
$gray: #929292;
$dark-gray: #555;
$black: #000;
$red: #e52528;
$purple: #5d3ac0;

$disabled-light-blue: #d4e0ed;
$disabled-blue: #97aabd;
$disabled-gray: #dfdfdf;
